html, body {
	background-color: #333;
}

.spinner {
	width: 150px;
	height: 150px;
	border: 8px solid #e65353;
	border-radius: 50%;
	position: absolute;
	top: 30%;
	left: 30%;
	background-color: #333;
}

.spinner::before {
	content: "";
	position: absolute;
	width: 12px;
	height: 45%;
	background-color: #e65353;
	border-radius: 100px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	transform-origin: top;
	animation: rotate 2s linear infinite;
}

@keyframes rotate {
	to {
		transform: translateX(-50%) rotate(360deg);
	}
}